# Exercise Sheet \#6 - SQLite

In this sheet, we will use the [SQLite sample database](http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip) to explore (and learn!) the SQL language.

First, make sure (1) you installed [SQLite](https://www.sqlite.org/download.html) on your computer, and (2) you downloaded (and unzipped in your working directory) the Sample database using the link given above. Recall the Data Model of that database is available [here](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg).

For each question below, write the corresponding query and **run it on the sample data base** using either the sqlite3 interpreter or sqlitestudio or an equivalent tool.

## Exercise 1 - Using single tables
In this exercise, you are asked to perform various tasks on single tables.

### Question 1.1
Write a SQL query which lists the artists.

SELECT name FROM artists

### Question 1.2
Write a SQL query which computes the total number of artists.

SELECT COUNT(ArtistId) FROM artists

### Question 1.3
Write a SQL query which counts how many distinct artists are registered.

SELECT DISTINCT COUNT(Name) from artists

### Question 1.4
Write a SQL query which lists the artists whose name starts with N.

SELECT *
FROM artists
WHERE name LIKE 'N%

### Question 1.5
Write a SQL query which computes the number of tracks per album.

SELECT COUNT(name) from tracks GROUP BY AlbumId

to check individually: SELECT COUNT(NAME) FROM TRACKS WHERE ALBUMID=1

### Question 1.6
Write a SQL query which computes the average duration (in milliseconds) of songs.

SELECT AVG(Milliseconds) FROM tracks

### Question 1.7
Add **Bono** to the _artists_ table (make sure it gets a valid id).

INSERT INTO artists(name) VALUES ("Bono")

### Question 1.8
List artists who do not appear in the _albums_ table.
If there are any, what is the query you would use to remove them from the table ?

SELECT artists.*
FROM artists
LEFT JOIN albums ON artists.ArtistId = albums.ArtistId
WHERE albums.AlbumId IS NULL; 

---- To delete ----
DELETE FROM artists
WHERE ArtistId NOT IN (SELECT ArtistId FROM albums);

### Question 1.9
How could you remove all artists whose name starts with "N" from the _artists_ table ?

DELETE FROM artists WHERE name LIKE 'N%

## Exercise 2 - Using multiple tables
In this exercise, you are asked to write queries which may require more than one table.

### Question 2.1
Write a SQL query which retrieves the list of artists (names) together with their albums recorded in the database.

SELECT name, title
FROM albums
INNER JOIN artists ON artists.ArtistId = albums.AlbumId

### Question 2.2
Filter the answers from the previous question so that only artists who have more than 3 albums recorded in the database are listed.

SELECT Name, count(Title)
FROM albums
INNER JOIN artists ON artists.ArtistID = albums.ArtistID 
GROUP BY name HAVING count(Title) > 3

### Question 2.3
List each song together with the number of times it appears in a recorded playlist.

SELECT name, count(playlistid) 
FROM tracks 
NATURAL JOIN playlist_track 
GROUP BY name

### Question 2.4
List the songs whose genre is Metal. How many of them are they ?

--- To list the songs --- 
SELECT tracks.name AS songName
FROM tracks
JOIN genres ON tracks.GenreId = genres.GenreId
WHERE genres.name = 'Metal'

---To count them ---

SELECT COUNT(*) AS metalSongCount
FROM tracks
JOIN genres ON tracks.GenreId = genres.GenreId
WHERE genres.name = 'Metal'

### Question 2.5
How many albums and songs from the "Philip Glass Ensemble" are they ?

 SELECT a.title, count(t.name) FROM albums a, tracks t, artists ar WHERE a.albumid = t.albumid AND ar.artistid = a.artistid AND ar.name = 'Philip Glass Ensemble' GROUP BY a.title;

### Question 2.6
Which artist plays the longest song of the database ?

SELECT a.name FROM artists a, albums al, tracks t WHERE a.artistid = al.artistid AND al.albumid = t.albumid AND t.milliseconds >= (SELECT MAX(milliseconds) FROM tracks);

### Question 2.7
Can you add new songs to the database ? What pieces of information are needed ? In what order do you add those ?

To add new songs to the database, one first need to add new artists (authors of the song), to relate this artist to a new album (containing the song) and only then the new song can be added.

### Question 2.8
Are they genres for which there is no single song registered ?

SELECT g.name FROM genres g WHERE NOT EXISTS (SELECT t.genreid from tracks t WHERE t.genreid = g.genreid);

or alternatively

SELECT g.name FROM genres g WHERE g.genreid NOT IN (SELECT t.genreid FROM tracks t);

## Exercise 3 : to go further (to practice at home)
Here are some additional questions for you to go further with SQL :


3.1    Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.

3.2    Provide a query only showing the Customers from Brazil.

3.3    Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer’s full name, Invoice ID, Date of the invoice and billing country.

3.4    Provide a query showing only the Employees who are Sales Agents.

3.5    Provide a query showing a unique list of billing countries from the Invoice table.

3.6    Provide a query showing the invoices of customers who are from Brazil.

3.7    Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent’s full name.

3.8    Provide a query that shows the Invoice Total, Customer name, Country and Sale Agent name for all invoices and customers.

3.9    How many Invoices were there in 2009 and 2011 ? What are the respective total sales for each of those years ?

3.10    Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for Invoice ID 37.

3.11    Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for each Invoice. HINT : GROUP BY

3.12    Provide a query that includes the track name with each invoice line item.

3.13    Provide a query that includes the purchased track name AND artist name with each invoice line item.

3.14    Provide a query that shows the number of invoices per country. HINT : GROUP BY

3.15    Provide a query that shows the total number of tracks in each playlist. The Playlist name should be include on the resultant table.

3.16    Provide a query that shows all the Tracks, but displays no IDs. The resultant table should include the Album name, Media type and Genre.

3.17    Provide a query that shows all Invoices but includes the number of invoice line items.

3.18    Provide a query that shows total sales made by each sales agent.

3.19    Which sales agent made the most in sales in 2009 ?

3.20    Which sales agent made the most in sales in 2010 ?

3.21    Which sales agent made the most in sales over all ?

3.22    Provide a query that shows the number of customers assigned to each sales agent.

3.23    Provide a query that shows the total sales per country. Which country’s customers spent the most ?

3.24    Provide a query that shows the most purchased track of 2013.

3.25    Provide a query that shows the top 5 most purchased tracks over all.

3.26    Provide a query that shows the top 3 best selling artists.